<h1>餐廳後台</h1>


<div class="d-flex justify-content-between">
  <span><a href='/admin/restaurants'>Restaurants</a>
    <span>|</span>
    <a href='/admin/users'>Users</a>
  </span>
</div>

<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <input type="submit" class="btn btn-link" name="isAdmin" {{#if this.isAdmin}} value="set as user" {{else}}
            value="set as admin" {{/if}}>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>